<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <OutputDirectory>ZTest\TestResults</OutputDirectory>
          <Include>
            <ModulePath>.*Application.*</ModulePath>
            <ClassName>Application.Services.*</ClassName>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
